.mainchat
  .mainchat__group
    .mainchat__group__leftbox
      .mainchat__group__leftbox__name
        = @group.name
      .mainchat__group__leftbox__member
        Member:
        - @group.users.each do |user|
          = user.name
      
    .mainchat__group__rightbox
      = link_to edit_group_path(@group) do
        Edit


  .mainchat__message__list
    = render @messages

  .mainchat__message--form
    .new_message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class:"input-box__text",placeholder:"type a message"
          = f.label :image, class:"input-box__image" do
            = icon('fas','image')
            = f.file_field :image, class:"input-box__image__file"
          = f.submit 'Send', class: 'submit-btn' 