.sidebar
  .sidebar__user
    .sidebar__user__box
      .sidebar__user__box__name
        = current_user.name
      .sidebar__user__box__menu
        .sidebar__user__box__menu__cog
          = link_to new_group_path(current_user)do
            = icon('far', 'edit')
        .sidebar__user__box__menu__edit
          = link_to edit_user_path(current_user) do
            = icon('fas','cog',class: 'icon')

  .sidebar__group
    - current_user.groups.each do |group|
      .sidebar__group__list
        = link_to '#' do
          .sidebar__group__list__name
            = group.name
          .sidebar__group__list__message
            まだメッセージがありません